<h1>Recipes#index</h1>
<p>Find me in app/views/recipes/index.html.erb</p>
<style type="text/css" media="screen">
	.wrapper{
		height:auto;
	}
	.center{
		width:80%;
		margin:0 auto;
	}
	.row{
		display: flex;
		flex-flow:row wrap;
		justify-content:space-around;
		padding:2% 0;
		border-bottom:2px dotted #000;
	}
	.colm{ display:flex;flex-flow:row wrap;justify-content:space-around; width:250px;line-height: 50px; text-align:center;}
	.colm:nth-child(1),.colm:nth-child(2){width:70px;}
	.btn-container{
		display:flex;flex-flow:row wrap;justify-content:space-around;
		line-height: 30px;
	}
	.btn{
		padding:7px 16px;
		margin-top:10px;
		text-decoration:none;
		font-size:18px;
		font-weight:bold;
		border-radius:8px;
	}
	.btn-success{background:#00a300;color:#fff;}
	.btn-danger{background:#ee1111;color:#fff;}
	.btn-primary{background:#2d89ef;color:#fff;}
</style>

<div class="wrapper">
	<div class="center">
		<div class="row">
			<div class="colm"> <strong> Id </strong> </div>
			<div class="colm"> <strong> User Id </strong> </div>
			<div class="colm"> <strong> User Name </strong> </div>
			<div class="colm"> <strong> Recipe Name </strong> </div>
			<div class="colm"> <strong> Description </strong> </div>
			<div class="colm"> <strong> Button </strong> </div>
		</div>
	</div>
</div>
<div class="wrapper">
<% @allRecipe.each do|e| %>
	<div class="center">
		<div class="row">
			<div class="colm"> <%= e.id %> </div>	
			<div class="colm"> <%= e.user.id %> </div>	
			<div class="colm"> <%= e.user.name %> </div>	
			<div class="colm"> <%= e.recipe_name %> </div>	
			<div class="colm"> <%= e.description %> </div>	
			<div class="colm"> 
				<div class="btn-container">	
					<%= link_to "New Recipe Create" ,new_user_recipe_path(e.user_id), class: "btn btn-danger" %> 
				</div>
				<div class="btn-container">
					<%= link_to "New User" ,new_user_path, class: "btn btn-success" %>
				</div>
				<div class="btn-container">
					<%= link_to "Show Activities" ,activities_path, class: "btn btn-primary" %>
				</div>
				<div class="btn-container">
					<%= link_to "Show Recipe" , user_recipe_path(@user,e) , class: "btn btn-primary" %>
				</div>
			</div>
		</div>
	</div>
<% end %>
</div>