<h1>Recipes#new</h1>
<p>Find me in app/views/recipes/new.html.erb</p>
<%= form_for @recipe , url:   user_recipes_path(@user) do|f| %>
	<p>
		<%= f.label :User_Id %>
		<strong> <%= @user.id %> </strong> <br>
	</p>
	<p>
		<%= f.label :Recipe_Name %>
		<%= f.text_field :recipe_name %> <br>
	</p>
	<p>
		<%= f.label :description %>
		<%= f.text_field :description %> <br>
	</p>
	<p>
		<%= f.submit "Create Recipe" %>
	</p>
<% end %>