<h1>Recipes#show</h1>
<p>Find me in app/views/recipes/show.html.erb</p>
<style type="text/css">
	.wrapper{
		height:auto;
	}
	.center{
		width:80%;
		margin:0 auto;
	}
	.row{
		display: flex;
		flex-flow:row wrap;
		justify-content:space-around;
		padding:2% 0;
		border-bottom:2px dotted #000;
	}
	.colm{ display:flex;flex-flow:row wrap;justify-content:space-around; width:200px;line-height: 50px; text-align:center;}
	.colm:nth-child(1),.colm:nth-child(2){width:100px;}
	.btn-container{
		display:flex;flex-flow:row wrap;justify-content:space-around;
		line-height: 30px;
	}
	.btn{
		padding:7px 16px;
		margin-top:10px;
		text-decoration:none;
		font-size:18px;
		font-weight:bold;
		border-radius:8px;
	}
	.btn-success{background:#00a300;color:#fff;}
	.btn-danger{background:#ee1111;color:#fff;}
	.btn-primary{background:#2d89ef;color:#fff;}
</style>

<div class="wrapper">
	<div class="center">
		<div class="row">
			<div class="colm"> <h2> <strong> Id </strong> </h2> </div>
			<div class="colm"> <h2> <strong> User Id </strong> </h2> </div>
			<div class="colm"> <h2> <strong> User Name </strong> </h2> </div>
			<div class="colm"> <h2> <strong> Recipe Name </strong> </h2> </div>
			<div class="colm"> <h2> <strong> Buttons </strong> </h2> </div>
		</div>
	</div>
</div>

<div class="wrapper">
	<div class="center">
			<div class="row">
				<div class="colm"> <%= @recipe.id %> </div>
				<div class="colm"> <%= @recipe.user_id %> </div>
				<div class="colm"> <%= User.find(@recipe.user_id).name %> </div>
				<div class="colm"> <%= @recipe.recipe_name %> </div>
				<div class="colm"> 
					<div class="btn-container">
						<%= link_to "Update", edit_user_recipe_url(@user,@recipe) , class: "btn btn-success" %>
					</div>
					<div class="btn-container">
						<%= link_to "Back",  user_recipes_url(@user) , class: "btn btn-primary" %>
					</div>
					<div class="btn-container">
						<%= link_to "Delete", user_recipe_url(@recipe), method: :delete , class: "btn btn-danger" %>
					</div>
					<div class="btn-container">
						<%= link_to "Show Activity",  activities_url, class: "btn btn-success" %>
					</div>
				</div>
			</div>
	</div>
</div>
