<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<style type="text/css">
	.wrapper{
		height:auto;
	}
	.center{
		width:80%;
		margin:0 auto;
	}
	.row{
		display: flex;
		flex-flow:row wrap;
		justify-content:space-around;
		padding:2% 0;
		border-bottom:2px dotted #000;
	}
	.colm{ display:flex;flex-flow:row wrap;justify-content:space-around; width:200px;line-height: 50px; text-align:center;}
	.btn-container{
		display:flex;flex-flow:row wrap;justify-content:space-around;
		line-height: 30px;
	}
	.btn{
		padding:7px 16px;
		margin-top:10px;
		text-decoration:none;
		font-size:18px;
		font-weight:bold;
		border-radius:8px;
	}
	.btn-success{background:#00a300;color:#fff;}
	.btn-danger{background:#ee1111;color:#fff;}
	.btn-primary{background:#2d89ef;color:#fff;}
</style>
<div class="wrapper">
	<div class="center">
		<div class="row" style="justify-content: flex-start; border:none;">
			<div class="btn-container">
				<%= link_to "New User", new_user_url ,class: "btn btn-success" %>
			</div>
		</div>
	</div>
</div>
<div class="wrapper">
	<div class="center">
		<div class="row">
			<div class="colm"> <h2> <strong> Id </strong> </h2> </div>
			<!-- <div class="colm"> <h2> <strong> User Id </strong> </h2> </div> -->
			<div class="colm"> <h2> <strong> User Name </strong> </h2> </div>
			<!-- <div class="colm"> <h2> <strong> Recipe Name </strong> </h2> </div> -->
			<div class="colm"> <h2> <strong> Buttons </strong> </h2> </div>
		</div>
	</div>
</div>

<div class="wrapper">
	<div class="center">
		<%# @user.each do|e| %>
			<div class="row">
				<div class="colm"> <h3> <%= @user.id %> </h3> </div>
				<div class="colm"> <h3> <%= @user.name %> </h3> </div>
				<div class="colm"> 
					<div class="btn-container">
						<%= link_to "Update", edit_user_url(@user) , class: "btn btn-success" %>
					</div>
					<div class="btn-container">
						<%= link_to "Back", users_url , class: "btn btn-primary" %>						
					</div>
					<div class="btn-container">
						<%= link_to "Delete", user_url(@user), method: :delete , class: "btn btn-danger" %>
					</div>
					<div class="btn-container">
						<%= link_to "New Recipe Bno", new_user_recipe_url(@user), class: "btn btn-success" %>
					</div>
				</div>
			</div>
		<%# end %>
	</div>
</div>



